@model Qed.Models.Knjiga

@{
    ViewBag.Title = "Booking";
}

<div>
    <h3>@Html.DisplayFor(model => model.Naslov)</h3>
    <h6>@Html.DisplayFor(model => model.Autor)</h6>
    <hr />
    <dl class="dl-horizontal">
                <dt>
            @Html.DisplayNameFor(model => model.Naklada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naklada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumDodavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumDodavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uploader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uploader)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
<div class="form-horizontal">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Naslov)
    @Html.HiddenFor(model => model.Autor)
    @Html.HiddenFor(model => model.Naklada)
    @Html.HiddenFor(model => model.DatumDodavanja)
    @Html.HiddenFor(model => model.Uploader)
    @Html.HiddenFor(model => model.Booking)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bookiraj" class="btn btn-default" />
        </div>
    </div>
</div>

    }

</div>
<p>
    @Html.ActionLink("Povratak", "Index")
</p>
